{% extends 'IcseMembersBundle:Email:template.html.twig' %} 

{% block content %}
<div id="editable" contenteditable="true">
{% if email_body is defined %}
{{ email_body }}
{% else %}
<p>Dear ICSE,</p>

<p>Now that we are several weeks into the Autumn term, our rehearsals continue as usual in preparation for our Christmas Concert which will take place on&nbsp;<strong>Tuesday 10th&nbsp;December 2013</strong>.</p>

<h3>Next Rehearsal</h3>

<p>Our rehearsal this Friday will be in the&nbsp;<strong>Senior Common Room (SCR)</strong>, which can be accessed from either the Sherfield Walkway or the landing outside the Great Hall.</p>

<p><strong>Friday 18th&nbsp;October<br />
6pm - 8:30pm<br />
Senior Common Room (SCR), Level&nbsp;2, Sherfield Building</strong></p>

<h3>Next Social</h3>

<p>After tomorrow&#39;s rehearsal, you are all welcome to come over to my house for&nbsp;<strong>pizza</strong>&nbsp;and&nbsp;<strong>drinks</strong>&nbsp;etc. My address is&nbsp;<strong>39 Ongar Road, London, SW6&nbsp;1SJ</strong>. Once we have packed away we will leave en masse by public transport, but if you somehow manage to get lost, my phone number is&nbsp;<strong>07957911758</strong>.</p>

<p>Please bring your&nbsp;<strong>Oyster Cards</strong>&nbsp;with you unless you are cycling (you know who you are). First Years need not fear - I live only around 15-20 minutes away from South Kensington by direct tube train or bus.</p>

<h3>Membership</h3>

<p>It&#39;s that time of year again when I&#39;m going to start going on about buying<strong>membership</strong>. If you haven&#39;t done so already, it is really quick and easy to do online through the&nbsp;<a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/string-ensemble-products/2975/string-ensemble-membership-13-14" style="color: rgb(128, 0, 0);" target="_blank">Union website</a>.</p>

<p>Membership costs&nbsp;<strong>&pound;15</strong>&nbsp;for the whole year (cheaper than many of the other music societies at Imperial). The membership fee is put towards things such as&nbsp;<strong>music rental</strong>, subsidising&nbsp;<strong>weekends away</strong>&nbsp;and&nbsp;<strong>tours</strong>, as well as most importantly, for stocking up on&nbsp;<strong>tea and biscuits</strong>.</p>

<p>The more members we have, the more money we also receive from the Union so it is important to buy your membership as soon as you can. Becoming a member also allows you log into the&nbsp;<a href="https://www.union.ic.ac.uk/arts/stringensemble" style="color: rgb(128, 0, 0);" target="_blank">ICSE&nbsp;website</a>&nbsp;to download&nbsp;<strong>practice parts</strong>&nbsp;and to view the online&nbsp;<strong>rehearsal and concert calendar</strong>.</p>

<p>As always, please&nbsp;<a href="mailto:icse@imperial.ac.uk" style="color: rgb(128, 0, 0);" target="_blank">get in touch</a>&nbsp;if you have any questions.</p>

<p>See you all tomorrow!</p>

<p>ICSE love,<br />
{{ app.user.getFirstName() }}</p>


{% if upcoming_rehearsals is not empty %}
<h2>Upcoming Rehearsals</h2>

<ul>
    {% for r in upcoming_rehearsals %}
    {% set loc = r.getLocation() %}
    <li>{{ r.getStartsAt() | date('l d/m/Y, g:ia') }} &mdash; {{ loc ? loc.getName() : "Location TBC"}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
</div>
{% endblock %}
