{% extends 'IcseMembersBundle:Email:template.html.twig' %} 

{% block content %}
<div id="editable" contenteditable="true">
<h1>Welcome to ICSE</h1>

<h2>Hello!</h2>

<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<ul>
  <li>Friday 25/1/13 - Queens Tower Rooms, 6pm</li>
  <li>Friday 1/2/13 - Great Hall, 6pm</li>
</ul>

<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
<h2>Upcoming Rehearsals</h2>

<ul>
  <li>Friday 25/1/13 - Queens Tower Rooms, 6pm</li>
  <li>Friday 1/2/13 - Great Hall, 6pm</li>
</ul>
<h2>Upcoming Socials</h2>

<ul>
  <li>Friday 25/1/13 - Chill Out Sesh - Rufus' house after rehearsal</li>
  <li>Friday 8/2/13 - Cinema to see 'Flight' - let me know if you want to go by 1/2/13</li>
</ul>
</div>
{% endblock %}
