section {
  #TitleAndDate {
    margin-bottom: 1em;
  }

  h1 {
    padding-bottom: 0.3em;
  }

  h2 {
    clear: both;
  }

  ul.repertoire {
    list-style: disc inside;
    margin-left: 1em;
    float: left;
    margin-bottom: 1em;
  }

  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid #000;
  }

  #location #address {
    margin-bottom: 0.5em;
  }
}

