$page-width:  994px; 
$page-side-padding: 20px; 
$col_left_width: 580px;
$col_right_width: $page-width - $col_left_width - 4*$page-side-padding;

#above_footer.homepage {
    background: url(@IcsePublicBundle/images/bg_home.png) #eee repeat-y center;

    #col_left, #col_right {
        float: left;
    }

    #col_left {
        width: $col_left_width;
        margin-right: $page-side-padding;
        padding-top: 1em;
    }

    #col_right {
        width: $col_right_width;
        margin-left: $page-side-padding;
        padding-top: 20px;
        
    }

    .cycle-slideshow {
        float: left;
        height: 254px;
        width: $col_right_width;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .cycle-paused:after {
        content: 'Paused'; color: white; background: black; padding: 10px;
        z-index: 500; position: absolute; bottom: 10px; right: 10px;
        border-radius: 10px;
        opacity: .5; filter: alpha(opacity=50);
    }

    section {
        padding-top: 0;
    }

    #past_events_strip a {
        background: #fff;
        display: inline-block;
        img {
            vertical-align: middle;
            outline: 1px solid #000;
            width: $col_left_width/4;
        }
        &:hover img {
            opacity: 0.8;
        }
    }

    #past_events_more {
        margin-top: 0.4em;
        margin-bottom: -0.5em;
        float: right;
    }

    #past_event_title {
        margin-top: 1.5em;
        margin-bottom: 2em;
        height: 1em;
        text-align: center;
    }


    .news_listing {
        a.picture+div.details {
            padding-left: 100px + 16px; 
        }
    }

    #facebook_widget {
        background-color: #fff;
        margin-bottom: 1em;
    }

    #twitter-widget-0, a.twitter-timeline, #next_rehearsal {
        margin-bottom: 1em;
    }

}
