$col_left_width: 580px;

#col_left, #col_right {
  float: left;
}

#col_left {
  width: $col_left_width;
  margin-right: 20px;
  padding-top: 1em;
}

#col_right {
  width: 334px;
  margin-left: 20px;
  padding-top: 20px;
}

#col_right #slideshow {
  float: left;
  height: 254px;
  width: 334px;
  margin-bottom: 20px;
}

#news_pic {
  float: left;
  margin-right: 20px;
}

.event {
  clear: both;
  margin-top: 1em;
  overflow: hidden;
}

.event ul {
  list-style: disc inside;
}

.event a.poster {
  background: #fff;
}

.event img {
    float: left;
    margin-right: 1em;
    outline: 1px solid #000;
    .mouseover & {
      opacity: 0.8;
    }
}

.event a {
  color: #000;
  text-decoration: none;
  &:hover, .mouseover & {
    color: #666;
  }
}

#above_footer {
  background: url(@IcsePublicBundle/images/bg_home.png) #eee repeat-y center;
}

section {
  padding-top: 0;
}

#past_events_strip a {
  background: #fff;
  display: inline-block;
  img {
    vertical-align: middle;
    outline: 1px solid #000;
    width: $col_left_width/4;
  }
  &:hover img {
    opacity: 0.8;
  }
}

#past_events_more {
  margin-top: 0.4em;
  margin-bottom: -0.5em;
  float: right;
}

#past_event_title {
  margin-top: 1.5em;
  margin-bottom: 2em;
  height: 1em;
  text-align: center;
}
