@import "compass/reset";
$page-width:  994px;
$page-side-padding: 20px;
$footer-text-size: 0.8em;
$footer-padding: 0.5em;
$footer-overall-height: $footer-text-size * (1 + 2 * $footer-padding/1em);

$h2_colour: #643906;

$nav_colour1: #000;
$nav_colour2: #333;
$nav_colour3: #aaa;


html, body {
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
} 

#above_footer {
  min-height:100%;
  height: auto !important;
  height: 100%;
  min-width: $page-width;
  background: url(@IcsePublicBundle/images/bg.png) #eee repeat-y center;
}

header {
  background-color: #fff;
}

hgroup {
  width: $page-width - 2 * $page-side-padding;
  margin: 0 auto;
  padding: 7px $page-side-padding;
  background-image: url(@IcsePublicBundle/images/banner_violin.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#top_nav {
  background-color: $nav_colour1;
  height: 2em;
}

#sub_nav {
  width: $page-width;
  margin: 0 auto;
  height: 2em;
  background-color: $nav_colour2;
}

nav ul {
  width: $page-width;
  margin: 0 auto;
  list-style: none;
}

#sub_nav ul ul {
  width: auto;
  background-color: $nav_colour3;
}

nav li {
  display: block;
  float: left;
}

nav a {
  &:link, &:visited {
    display: block;
    padding: 0.5em 20px;
    text-decoration:none;
    color:#fff;
    font-family: Verdana;
  }
  &:hover {
    background-color: #444;
  }
}

#sub_nav ul ul a.crumb {
  background-image: url(@IcsePublicBundle/images/breadcrumb.png);
  background-repeat: no-repeat;
  background-position: right center; 
  padding-right: 20px + 24px;
  &:link, &:visited {
    background-color: $nav_colour3;
    color: #000;
  }
  &:hover {
    background-color: lighten($nav_colour3, 10%);
  }
}

#sub_nav ul ul a.midcrumb {
  padding-left: 10px;
}

#top_nav a.current  {
  &:link, &:visited {
    background-color: $nav_colour2;
  }
  &:hover {
    background-color: lighten($nav_colour2, 10%);
  }
}

#sub_nav a.current {
  &:link, &:visited {
    background-color: #fff;
    color: #000;
  }
  &:hover {
    background-color: #eee;
  }
}

#top_nav #members_area_button.logged_in a {
  color: #ff0;
}

#top_nav #members_area_button {
  float: right;
}

#header_to_footer {
}

section {
  clear: both;
  width: $page-width - 2 * $page-side-padding;
  margin: 0 auto;
  padding: 0 $page-side-padding;
  padding-top:1em;
  padding-bottom:3em;
  line-height: 1.5em;
}


section h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em;
  font-family: Arial;
}

section h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-family: Arial;
  border-bottom: 3px solid $h2_colour;
  color: $h2_colour; 
}

section h2 a {
  &:link, &:visited {
    color: $h2_colour;
    text-decoration: none;
  }
}

section h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.1em;
  font-family: Arial;
}

section p {
  max-width: 714px;
}

section p, section ul {
  margin-bottom: 1em;
}

footer {
  font-size: $footer-text-size;
  padding: $footer-padding 0;
  min-width: $page-width;
  height: 1em;
  color:#fff;
  background-color: #000;
  text-align: center;
  margin-top: -2em;
}

.footer_push {
  height: $footer-overall-height;
  clear:both;
}

a {
  &:link, &:visited {
    text-decoration:none;
    color: #111;
  }
  &:hover {
    color: #996633;
  }
}

footer a {
  &:link, &:visited {
    color: #fff;
  }
  &:hover {
    color: #996633;
  }
}

footer a {
  color: #fff;
}

::selection {
	background: #d8c3a9;
} 

form {
  margin-top: 1em;
}

form input[type=text], form input[type=email], form input[type=password] {
  display: block;
  float:left;
  width: 200px;
  vertical-align: middle; 
}


form label {
  float: left;
  clear: left;
  width: 380px;
  text-align: right;
  margin-right: 20px;
  padding-bottom: 1em;
}

form .radio input {
  display: block;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  clear: both;
}

/* Radio labels */
form .radio label[for^="form"] {
  width: auto;
  float:left;
  vertical-align: middle; 
  margin: 0;
  clear: none;
  padding-bottom: 0.5em;
  padding-left: 10px;
}

form .radio input:first-of-type {
  clear: none;
}

form input[type=radio], form input[type=checkbox] {
  margin-top: 0.4em;
}

form div {
  clear: both;
}

form div#other_instrument {
  clear:none;
  float:left;
  margin-left: 20px;
}

form label[for=form_other_instrument] {
  width: 0;
}

/* div containing the radio list */
form .radio div[id^="form"] {
  float: left;
  clear: none;
  margin-bottom: 1em;
}

form input[type=submit] {
  display: block;
  float: none;
  clear: both;
  margin-left: 400px;
}

#username_or_email_lookup input[type=button] {
  display: block;
  float: left;
  clear: none;
  margin-left: 20px;
}

form #login_button {
  float: left;
}

form input#remember_me {
  float: left;
  margin-top: 0.5em;
  margin-left: 30px;
}

form label#remember_me_label {
  clear: none;
  width: auto;
  padding-left: 5px;
}

form #username_or_email_error, form li {
  color: #f00;
  float: right;
}

form .global_errors li {
  float: left;
  clear: both;
  min-height: 2em;
  margin-left: 400px;
  margin-bottom: 0.5em;
}

div#end_form {
  clear: both;
}

#signupstable {
  margin-top: 2em;
}

textarea#email_textarea {
  vertical-align: top;
  height: 2.7em;
}

#signupsfilter .current {
  font-weight: bold;
}

#signupstable, #signupstable td, #signupstable th {
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}

#signupstable th {
  background-color: #a6681e; 
  color: #fff;
  font-weight: bold;
}

#signupstable tr.odd td {
  background-color: #e3c9ab; 
} 
#signupstable tr.even td {
  background-color: #fff; 
} 

.flip-h {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
} 

.rotate-180 {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -ms-transform:rotate(-180deg); 
} 

img.article_pic {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
