#top_nav, #sub_nav, #nav_column, footer, .sf-toolbar, .table_buttons, .noprint {
    display: none !important;
}

.onlyprint {
    display: auto;
}

table {
    table-layout: fixed;
    -webkit-region-break-inside: avoid;
    position: relative;
}

table, th, td, tr
{
    border-collapse:collapse;
    border: 1px solid black;
    width:100%;
    text-align:center;
}

th {
    -webkit-print-color-adjust:exact;
    background-color: #c8c8c8;
}

td {
    word-wrap: break-word;
    // word-break: break-all;    
}

tr {
    -webkit-region-break-inside: avoid;
    // page-break-after:auto;
}