Header set X-UA-Compatible "IE=edge"
RewriteEngine On
RewriteCond %{HTTP_HOST} ^union\.ic\.ac\.uk$ [NC]
RewriteRule ^(.*)$ http://www.union.ic.ac.uk/arts/stringensemble/$1 [R=301,L] 
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond $0 ^\..*$ 
RewriteRule ^(.*)$ site.php [QSA,L] 
