RewriteEngine On
RewriteCond %{HTTP_HOST} ^union\.ic\.ac\.uk$ [NC]
RewriteRule ^(.*)$ http://www.union.ic.ac.uk/arts/stringensemble/new/$1 [R=301,L] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ site.php [QSA,L] 
