{% extends 'IcsePublicBundle:Events:past_events_year_template.html.twig' %}  

{% block content %}
<h1>Past Events in {{ year }}</h1>

{% if events is empty %}
There were no events in {{ year }} :(
{% else %}
{% include 'IcsePublicBundle:Events:event_list_fragment.html.twig' with {'events': events} %}  
{% endif %}
 
{% endblock %}
