{% extends 'IcsePublicBundle:Default:template.html.twig' %}

{% block title %} - Error {{ status_code }}{% endblock %} 

{% block content %}

<h1>Whoops! An Error Occurred</h1>
<h2>The Server returned "Error {{ status_code }}: {{ status_text }}"</h2>

<p>Something is broken. Please e-mail us at icse@imperial.ac.uk and
let us know what you were doing when this error occurred. We will
fix it as soon as possible. Sorry for any inconvenience caused.</p>

{% endblock %} 
