{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Practice Parts' %}  
{% set currentSubSection = 'practice_parts' %}

{% set pieces = [
            {name: 'Copeland: Hoedown', folder: 'Copeland - Hoedown', parts: [
                            {label: 'Violin 1', filename: 'violin1.pdf'},
                            {label: 'Violin 2', filename: 'violin2.pdf'},
                            {label: 'Viola', filename: 'viola.pdf'},
                            {label: 'Cello', filename: 'cello.pdf'},
                            {label: 'Bass', filename: 'bass.pdf'},
            ]},
            {name: 'Ives: Fugue', folder: 'Ives - Fugue', parts: [
                            {label: 'Violin 1', filename: 'Violin1.pdf'},
                            {label: 'Violin 2', filename: 'Violin2.pdf'},
                            {label: 'Viola', filename: 'Viola.pdf'},
                            {label: 'Cello', filename: 'Cello.pdf'},
                            {label: 'Bass', filename: 'Bass.pdf'},
                            {label: 'Flute', filename: 'Flute.pdf'},
                            {label: 'Trumpet', filename: 'Trumpet.pdf'},
            ]},
            {name: 'Torke: December', folder: 'Torke - December', parts: [
                            {label: 'Violin 1A', filename: 'Violin1a.pdf'},
                            {label: 'Violin 2A', filename: 'Violin2a.pdf'},
                            {label: 'Violin 2B', filename: 'Violin2b.pdf'},
                            {label: 'Viola 1', filename: 'Viola1.pdf'},
                            {label: 'Viola 2', filename: 'Viola2.pdf'},
                            {label: 'Cello 1', filename: 'Cello1.pdf'},
                            {label: 'Cello 2', filename: 'Cello2.pdf'},
                            {label: 'Contrabass', filename: 'Contrabass.pdf'},
            ]},
            {name: 'Sibelius: Romance', folder: 'Sibelius - Romance', parts: [
                            {label: 'Violin 1', filename: 'Violin1.pdf'},
                            {label: 'Violin 2', filename: 'Violin2.pdf'},
                            {label: 'Viola', filename: 'Viola.pdf'},
                            {label: 'Cello', filename: 'Cello.pdf'},
                            {label: 'Bass', filename: 'Basso.pdf'},
            ]},
            {name: 'Telemann: L\'Omphale Overture', folder: 'Telemann - Suite Omphale', parts: [
                            {label: 'Violin 1', filename: 'VI.pdf'},
                            {label: 'Violin 2', filename: 'VII.pdf'},
                            {label: 'Viola', filename: 'V.pdf'},
                            {label: 'Cello/Bass', filename: 'B.pdf'},
            ]},
            {name: 'Grieg: Holberg Suite', folder: 'Grieg - From Holbergs Time', parts: [
                            {label: 'Violin 1', filename: 'VI.pdf'},
                            {label: 'Violin 2', filename: 'VII.pdf'},
                            {label: 'Viola', filename: 'V.pdf'},
                            {label: 'Cello', filename: 'C.pdf'},
                            {label: 'Bass', filename: 'B.pdf'},
            ]},
            {name: 'Handel: Concerto Grosso', folder: 'Handel - Concerto Grosso op 6-7 hwv325', parts: [
                            {label: 'Violin 1', filename: 'VI.pdf'},
                            {label: 'Violin 2', filename: 'VII.pdf'},
                            {label: 'Violin 2 (part 2)', filename: 'VII_2.pdf'},
                            {label: 'Violin 2 (part 3)', filename: 'VII_3.pdf'},
                            {label: 'Viola', filename: 'V.pdf'},
                            {label: 'Cello/Bass', filename: 'C.pdf'},
            ]},
] %}

{% block content %}

<h1>Practice Parts</h1>

<p>Well done for checking this page out! Parts for all of the pieces can be found below, for you to practise at any time.</p>

{% for piece in pieces %}
<h2>{{ piece.name }}</h2>

<ul>
  {% for part in piece.parts %}
  <li><a href="{{ path('IcsePublicBundle_resource', {type: 'legacypdf', file: piece.folder ~ '/' ~ part.filename}) }}">{{ part.label }}</a></li>
  {% endfor %}
</ul>
{% endfor %}


{% endblock %}
