#above_footer {
  background: url(../images/bg.png) #fff repeat-y left;
  background-color: #fff;
}

#nav_column {
  float: left;
  width: 260px;
  height: 100%;
  padding: 20px;
}

#nav_column p {
  margin-bottom: 1em;
}

section {
  float: left;
  clear: none;
  margin: 0 0;
}
