#above_footer {
  background: url(../images/bg.png) #fff repeat-y left;
}

#nav_column {
  float: left;
  width: 260px;
  padding: 20px;
}

#nav_column p {
  margin-bottom: 1em;
}

section {
  clear: none;
  width: auto;
  padding-left: 320px;
}
