{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Send Email' %}  
{% set currentSubSection = 'sendemail' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
  '@IcseMembersBundle/Resources/style/email.scss' 
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsemembers/css/email.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsemembers/lib/ckeditor/ckeditor.js') }}"></script>
{% endblock javascripts %}




{% block content %}

<h1>Send Email</h1>

{% include 'IcseMembersBundle:Email:new_email.html.twig' with {'to_embed': true} %}  

<script>
CKEDITOR.disableAutoInline = true;
CKEDITOR.inline( 'editable', {
    extraPlugins : 'webkit-span-fix,sourcedialog',
    customConfig : '',
    /*toolbar :
            [
                ['Source'],
                ['Bold','Italic','Underline','Strike'],
            ],*/
    width: 490
});
</script>

{% endblock %}
