{% extends 'IcseMembersBundle:Admin:entity_admin_template.html.twig' %}

{% set pageTitle = 'Events' %}
{% set currentSubSection = 'eventadmin' %}

{% set entitySingular = 'event' %}

{% set enable_social_net = true %}

{% block extra_entity_main_buttons %}
    <li><button class="social_sync show_if_any_selected" type="button" disabled>Facebook&nbsp;Sync</button></li>
{% endblock %}

{% block extra_content %}
{% endblock %}