{% extends 'IcseMembersBundle:Admin:entity_admin_template.html.twig' %}

{% set currentSubSection = 'images' %}
{% set entitySingular = 'image' %}

{% set allow_drop_files = true %}
{% set create_by_upload = true %}

{% block extra_content %}
    {{ form(new_image_form, {attr: {hidden: true, id: "new_image"} }) }}

<div hidden id="image_prototype" class="uploading-instance">
    <div class="image-container">
        <img>
        <div class="overlay-container">
            <div class="progress-bar"><span class="name"></span></div>
        </div>
    </div>
</div>
{% endblock %}