<table class=admintable>
  <thead>
    <tr>
      {% if row_prefixes is defined %}
      <th></th>
      {% endif %}
      {% for column in table_content.columns %}
      <th>{{ column.heading }}</th>
      {% endfor %}
    </tr>
  </thead>
  
  <tbody>
    {% for entity in table_content.entities %}
      <tr data-entity="{{ entity | serialize }}">
        {% if row_prefixes is defined %}
        <td>{{ rowPrefixes }}</td>
        {% endif %}
        {% for column in table_content.columns %}
        <td>{{ entity | getCell(column) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
