{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'My Profile' %}
{% set currentSubSection = 'myprofile' %}

{% block content %}

<h1>
    {% set page_nav_item = members_nav_items[currentSubSection] %}
    {% if page_nav_item.fa_icon is defined %}
        <i class="fa fa-fw {{ page_nav_item.fa_icon }}"></i>
    {% endif %}
    {{ pageTitle }}
</h1>

{{ form(form) }}

{% endblock %}
