#col_left, #col_right {
  float: left;
}

#col_left {
  width: 580px;
  margin-right: 20px;
  padding-top: 1em;
}

#col_right {
  width: 334px;
  margin-left: 20px;
  padding-top: 20px;
}

#col_right #slideshow {
  float: left;
  height: 254px;
  width: 334px;
  margin-bottom: 20px;
}

#news_pic {
  float: left;
  margin-right: 20px;
}

.event {
  clear: both;
  margin-top: 1em;
  overflow: hidden;
}

.event ul {
  list-style: disc inside;
}

.poster {
  float: left;
  margin-right: 1em;
  border: 1px solid #000;
}

#above_footer {
  background: url(../images/bg_home.png) #eee repeat-y center;
}

section {
  padding-top: 0;
}
