html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  height:100%;
} 

#above_footer {
  min-height:100%;
  height: auto !important;
  height: 100%;
  background: url(../images/bg.png) #eee repeat-y center;
  min-width: 994px;
}

header {
  background-color: #fff;
}

hgroup {
  width: 954px;
  margin: 0 auto;
  padding: 7px 20px;
  background-color: #fff;
  background-image: url(../images/banner_violin.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

nav {
  background: #000;
  height: 2em;
}

nav ul {
  width: 994px;
  margin: 0 auto;
  list-style: none;
}

nav li {
  display: block;
  float: left;
  background-color:#000;
}

nav li.current {
  background-color:#333;
}

nav a:link, nav a:visited {
  display: block;
  padding: 0.5em 20px;
  text-decoration:none;
  color:#fff;
  font-family: Verdana;
}

nav a:hover {
  background: #444;
}

nav .logged_in a {
  color: #ff0;
}

section {
  clear: both;
  width: 954px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top:1em;
  padding-bottom:3em;
  line-height: 1.5em;
}

section h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1.3em;
  font-family: Arial;
}

section h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.5em;
  font-family: Arial;
}

section p {
  margin-bottom: 1em;
}

footer {
  min-width: 994px;
  color:#fff;
  background-color: #000;
  text-align: center;
  padding: 0.5em 0;
  margin-top:-2em;
  font-size: 0.8em;
}

footer a:link, footer a:visited {
  text-decoration:none;
  color: #fff;
}

footer a:hover {
  color: #996633;
} 

form {
  margin-top: 1em;
}

form input[type=text], form input[type=email], form input[type=password] {
  display: block;
  float:left;
  width: 200px;
  vertical-align: middle; 
}


form label {
  float: left;
  clear: left;
  width: 380px;
  text-align: right;
  margin-right: 20px;
  padding-bottom: 1em;
}

form .radio input {
  display: block;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  clear: both;
}

/* Radio labels */
form .radio label[for^="form"] {
  width: auto;
  float:left;
  vertical-align: middle; 
  margin: 0;
  clear: none;
  padding-bottom: 0.5em;
  padding-left: 10px;
}

form .radio input:first-of-type {
  clear: none;
}


form div {
  clear: both;
}

form div#other_instrument {
  clear:none;
  float:left;
  margin-left: 20px;
}

form label[for=form_other_instrument] {
  width: 0;
}

/* div containing the radio list */
form .radio div[id^="form"] {
  float: left;
  clear: none;
  margin-bottom: 1em;
}

form input[type=submit] {
  display: block;
  float: none;
  clear: both;
  margin-left: 400px;
}

form#username_or_email_form input[type=submit] {
  display: block;
  float: left;
  clear: none;
  margin-left: 20px;
}

form #login_button {
  float: left;
}

form input#remember_me {
  float: left;
  margin-top: 0.5em;
  margin-left: 30px;
}

form label#remember_me_label {
  clear: none;
  width: auto;
  padding-left: 5px;
}

form #username_or_email_error, form li {
  color: #f00;
  float: right;
}

form .global_errors li {
  float: left;
  clear: both;
  min-height: 2em;
  margin-left: 400px;
  margin-bottom: 0.5em;
}

div#end_form {
  clear: both;
}
