{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Members' %}  
{% set currentSubSection = 'home' %}  

{% block content %}

<h1>Welcome to the Members Area!</h1>

<p>Hi {{ app.user.getFirstName() }}!</p>

<p>This is our new Members Section. There isn't much to see at the moment, but hopefully it will grow in the future.
For now, be sure to check out the practice parts!</p>

<p>
<-- Please use an option on the left to continue.
</p>


{% endblock %}
