{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Members' %}  
{% set currentSubSection = 'home' %}  

{% block content %}

<h1>Welcome to the Members Area!</h1>

<p>Hi {{ app.user.firstName }}!</p>

<p>
    This is our Members Section.
    Be sure to add our rehearsal timetable to your personal calendar, and check out the practice parts!
</p>

{% set membership_is_good = app.user.hasCurrentMembership %}

<p>
    Paid membership: <span class="membership_date {{ membership_is_good ? "good" : "bad" }}">
        {{ app.user.lastPaidMembershipOn is null ? 'No' : (app.user.lastPaidMembershipOn | date('d/m/Y')) }}
    </span>
</p>

{% if not membership_is_good %}
    {{ render(controller('IcseMembersBundle:Default:MembershipPaymentInfoFragment' )) }}
{% endif %}


{% endblock %}
