{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Members' %}  
{% set currentSubSection = 'home' %}  

{% block content %}

<h1>Welcome to the Members Area!</h1>

<p>Hi {{ app.user.firstName }}!</p>

<p>This is our new Members Section. There isn't much to see at the moment, but hopefully it will grow in the future.
For now, be sure to add our rehearsal timetable to your personal calendar and check out the practice parts!</p>

{% set membership_is_good = app.user.hasCurrentMembership %}

<p>
    Paid membership: <span class="membership_date {{ membership_is_good ? "good" : "bad" }}">{{ app.user.lastPaidMembershipOn is null ? 'No' : (app.user.lastPaidMembershipOn | date('d/m/Y')) }}</span>
</p>

{% if not membership_is_good %}
    <p>
        You have not yet paid for this year's membership.
        You can do so by visiting <a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/string-ensemble-products/">the online shop</a> and making a one-off payment of £15, which lasts for the whole academic year.
        Membership fees go towards the cost of snacks, drinks and music hire, as well as the many other things that ICSE has to pay for!
    </p>

    <p>If you have in fact paid membership and this notice still appears, please <a href="mailto:icse@imperial.ac.uk?subject=ICSE%20Membership">get in touch</a> and we'll make sure the system is up to date.</p>
{% endif %}


{% endblock %}
