{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'members' %}

{% block style_extra %}<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsemembers/css/main.css') }}" />{% endblock %}

{% block header_to_footer %}
<div id="nav_column">
  <div id="nav_col_head">
    {{ app.user.getFullName() }}
  </div>
  <ul>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Practice Parts</a></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="category">Admin</li>
    <li><a href="#">Members</a></li>
    <li><a href="#">Site Text</a></li>
    {% endif %}
    <li class="category">Account</li>
    <li><a href="{{ path('IcseMembersBundle_account_settings') }}">Settings</a></li>
    <li><a href="{{ path('IcseMembersBundle_logout') }}">Logout</a></li>
  </ul>
  <div class="wibble"></div>
</div>
<div id="section_container">
<section>
{% block content %}
{% endblock %}
</section>
<div class="wibble"></div>
</div>
{% endblock %}
