/* line 2, assetic_compassSLsNkW.scss */
section #TitleAndDate {
  margin-bottom: 1em;
}
/* line 6, assetic_compassSLsNkW.scss */
section h1 {
  padding-bottom: 0.3em;
}
/* line 10, assetic_compassSLsNkW.scss */
section h2 {
  clear: both;
}
/* line 14, assetic_compassSLsNkW.scss */
section ul.repertoire {
  list-style: disc inside;
  margin-left: 1em;
  float: left;
  margin-bottom: 1em;
}
/* line 21, assetic_compassSLsNkW.scss */
section a.poster {
  float: left;
}
/* line 24, assetic_compassSLsNkW.scss */
section a.poster img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
}
/* line 34, assetic_compassSLsNkW.scss */
section #location #address {
  margin-bottom: 0.5em;
}
