<!DOCTYPE HTML>
<html>
<head>
  <title>Freshers Fair - Imperial College String Ensemble</title>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=994"> 
  <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 
</head>
<frameset rows="100%,*" border="0">
  <frame src="{{ path('IcsePublicBundle_join', {freshersfair: 1}) }}" frameborder="0" />
  <frame frameborder="0" noresize />
</frameset>
</html>