{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'members' %}

{% set pageTitle = 'Login' %} 

{% block content %}

<h1>Login</h1>

<form class="standard" action="{{ path('IcsePublicBundle_login_check') }}" method="post">
  <ul class="global_errors"><li class="error">
  {% if error %}
  Incorrect username or password
  {# {{ error.message }} #}
  {% endif %}
  </li></ul>
  <div class="form_row">
    <label for="username">Username / Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>
  <div class="form_row">
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
  </div>
    <input type="submit" id="login_button" value="Login"/>
  <input type="checkbox" id="remember_me" name="_remember_me" />
  <label for="remember_me" id="remember_me_label" >Stay logged in</label>
</form>

<div id="end_form"></div>

{% endblock %}
