{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'members' %}

{% set pageTitle = 'Login' %} 

{% block content %}

<h1>Login</h1>

<form action="{{ path('IcsePublicBundle_login_check') }}" method="post">
  <ul class="global_errors"><li>
  {% if error %}
  {{ error.message }}
  {% endif %}
  </li></ul>
  <div>
    <label for="username">Username / E-mail:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
  </div>
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <input type="submit" id="login_button" value="Login"/>
  <input type="checkbox" id="remember_me" name="_remember_me" />
  <label for="remember_me" id="remember_me_label" >Stay logged in</label>
</form>

<div id="end_form"></div>

{% endblock %}
