#container_table {
  width: 100%;
  background-color: #fff;
  padding: 6px;
}

td {
  padding: 0;
}

#container_table table {
  border-spacing: 0;
}

#main_cell {
  text-align: center;
  vertical-align: top;
}

#border_table {
  border-width:1px;
  border-style: dashed;
  border-color: #000;
}

#content_cell {
  line-height:150%;
  text-align: left;
  font-family:verdana;
  font-size:12px;
}

#footer_cell {
  color: #444;
  line-height: 100%;
  font-family: verdana;
  font-size: 9px;
  text-align: center;
  border-top: 2px solid #643906;
  padding-top: 15px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: Arial; 
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.4em;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  font-family: Arial;
  border-bottom: 3px solid #643906;
  color: #643906; 
}

p {
  margin: 0;
  margin-bottom: 2em;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

a {
  color: #963;
  font-weight: normal;
  text-decoration:underline;
}
