@import 'compass/reset/utilities';
$section_bottom_margin: 1.8em;

table#icse_email {
    @include nested-reset;

    width: 100%;
    background-color: #fff;
    padding: 6px;

    &.embedded {
        margin-bottom: 1em;
    }

    td {
        padding: 0;
    }

    table {
        border-spacing: 0;
    }

    #header_cell {
        text-align: center;
    }

    #main_cell {
        text-align: center;
        vertical-align: top;
    }

    #border_table {
        margin-left: auto;
        margin-right: auto;
        border-width:1px;
        border-style: dashed;
        border-color: #000;
    }

    #content_cell {
        line-height:150%;
        text-align: left;
        font-family:verdana;
        font-size:12px;
        color: #010101;

        table {
            margin-bottom: 1.7em;
        }


        td {
            border: solid;
        }
    }

    #footer_cell {
        color: #444;
        line-height: 100%;
        font-family: verdana;
        font-size: 9px;
        text-align: center;
        border-top: 2px solid #643906;
        padding-top: 15px;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1em;
        font-family: Arial; 
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
        margin-bottom: 0.5em;
        font-family: Arial;
        border-bottom: 3px solid #643906;
        color: #643906; 
    }

    h3 {
        font-size: 1.3em;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
        margin-bottom: 0.5em;
        font-family: Arial;
        border-bottom: 1px solid #643906;
        color: #643906; 
    }

    p, pre {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: $section_bottom_margin;
    }

    ul {
        list-style-type:disc;
    }

    ol {
        list-style-type:decimal;
    }

    ul, ol {
        margin-top: 0.5em;
        margin-bottom: $section_bottom_margin - 0.1em;
        padding-left: 30px;

        li {
            margin-left: 15px;
            margin-bottom: 0.5em;
        }
    }

    hr {
        color: #643906;
        background-color: #643906;
        border: none;
        height: 3px;
        margin-bottom: $section_bottom_margin;
    }

    a {
        color: #963;
        font-weight: normal;
        text-decoration:underline;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    sup {
        vertical-align: super;
        font-size: smaller;
    }

    sub {
        vertical-align: sub;
        font-size: smaller;
    }


}
