@import "compass/css3";
$nav_col_width: 240px;
$hidden_nav_col_width: 34px;
$nav_col_edge_width: 2px;
$nav_col_side_padding: 8px;
$sidebar_animation_time: 0.2s;
$sidebar_button_flip_animation_time: 1s;
$nav_col_colour: #d4b896;

@import "select2-theme/layout";

body.members-main {
    @include display-flex;
    @include flex-flow(column nowrap);

    height: 100%;

    #above_footer {
        min-height: 0;
        background: #fff;

        div.footer_push {
            display: none;
        }

        @include flex(1 0 auto);
        @include display-flex;
        @include flex-flow(column nowrap);

        & > header, & > nav {
            @include flex(0 0 auto);
        }
    }

    footer {
        margin-top: 0;
        @include flex(0 0 auto);
    }
}

#members-section-body {
    @include flex(1 0 auto);
    @include display-flex;
    @include align-items(stretch);
    @include flex-flow(row nowrap);
    overflow-y: hidden;
}

nav.members {
    z-index: 80;
    position: relative;
    width: $nav_col_width;
    @include flex(0 0 auto);

    margin-left: 0;
    @include transition(margin-left $sidebar_animation_time);

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        bottom: -5px;
        right: 0;
        z-index: -1;

        @include box-shadow(0 0 8px 2px rgba(0,0,0,0.6));
    }

    @include display-flex;
    @include align-items(stretch);

    ul {
        @include flex(1 0 auto);

        background-color: $nav_col_colour;
        border-right: $nav_col_edge_width solid #000;
    }

    li {
        display: block;

        a, &#nav_col_head, &.category {
            @include display-flex;
            @include flex-flow(column nowrap);
            @include justify-content(center);

            height: 1.4em;
            padding: 0.5em $nav_col_side_padding;
        }

        a {
            text-decoration: none;
            color: #000;

            &:hover {
                background-color: darken($nav_col_colour, 10%);
            }

            &.current {
                background-color: lighten($nav_col_colour, 10%);

                &:hover {
                    background-color: lighten($nav_col_colour, 20%);
                }
            }
        }

        &#nav_col_head, &.category {
            color: #fff;
            background: #000;
        }
    }

    .hide-button {
        z-index: 99;
        float: right;
        @include transition(transform $sidebar_button_flip_animation_time);
        position: relative;
        @include rotate(0.0001deg);

        &:hover {
            cursor: pointer;
        }
    }

    .hidden-cover {
        @include transition(visibility 0 linear $sidebar_animation_time, opacity $sidebar_animation_time);
        visibility: hidden;
        opacity: 0;

        position: absolute;
        left: 0;
        right: -1px;
        top: 0;
        bottom: 0;
        background-color: #000;
        z-index: 90;

        .label {
            color: #fff;
            position: absolute;
            top: 2.3em;
            right: 0.6em;
            width: 0;
            @include rotate(90deg);
            @include apply-origin(top left, false);
        }
    }

    &.hidden {
        margin-left: $hidden_nav_col_width - $nav_col_width;

        .hidden-cover {
            @include transition-delay(0);
            visibility: visible;
            opacity: 1;
        }

        .hide-button {
            @include rotate(-180deg);
        }

    }
}

section.members-main {
    @include flex(1 0 0);
    position: relative;
}

form.standard {

    &.account-settings {
        margin-bottom: 1em;
    }

    div.form_row {
        div.form_row_main {
            margin-left: 320px;

            @include display-flex;
            @include flex-flow(row wrap-reverse);
            @include align-items(flex-end);

            & > .error_list {
                order: 1;
            }

            & > .wide_widget {
                flex: 1 0 0;
            }
        }
    }

    .error_list {
        li {
            margin-bottom: 0.2em;
        }
    }

    & > .error_list {
        margin-bottom: 1em;
    }

    label {
        width: 300px;
    }

    input[type=submit], button[type=submit] {
        margin-left: 320px;
    }

    p.error_wide {
        color: #f00;
        margin-left: 320px;
    }
}


html {
    li.ui-timepicker-selected,
    .ui-timepicker-list li:hover,
    .ui-timepicker-list .ui-timepicker-selected:hover {
        background: #E2C891;
        color: #000;
    }
}

p.success {
    color: #090;
}

.ui-dialog-buttonset .loading_spinner {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

ul.entity_main_buttons, ul.email_buttons {
    padding: 0.4em 0;
    margin-bottom: 0;
    max-width: none;

    background-color: #fff;
    display: inline-block;
    z-index: 9;

    &.stuck {
        position: fixed;
        top: 0;
        margin: 0 -20px;
        padding-left: 20px;
        width: 100%;
        @include box-shadow(#5d5d5d 2px 2px 10px);
        @include transition(box-shadow 0.4s);
    }

    li {
        display: inline-block;
        vertical-align: middle;

        & > * {
            vertical-align: middle;
        }
        .not_button {
            margin-left: 0.8em;
        }
        .loading_spinner {
            margin-left: 0.5em;
        }
    }

    .dragndrop_instruction {
        padding-left: 8px;
    }
}

.saved_indicator {
    color: #999;
}

.ui-dialog #edit_dialog.ui-dialog-content {
    padding-bottom: 0;
}

#import_csv_dialog {
    ul li {
        list-style-type: disc;
        margin-left: 30px;
    }

    label {
        width: 100px;
    }
    .form_row_main {
        margin-left: 100px;

        input {
            width: 300px;
        }
    }
}

#entity_instance_list_container {
    margin-top: 2em;

    .instance, .uploading-instance {
        background-color: #FFF8E4;
        border-color: #E0B470;
        border-width: 1px;

        &.ui-selected {
            background-color: #AFC9D4;
        }

        &.ui-selecting {
            background-color: lighten(#AFC9D4, 5%);
        }

        &.ui-selected, &.ui-selecting {
            border-color: #588CA2;

            img {
                opacity: 0.6;
            }
        }

        &.ui-selected.just_deleted {
            background-color: #E95D58;
        }
    }

    .waterfall {
        img {
            @include transition(opacity 0.5s);
        }

        .uploading-instance img {
            opacity: 0.5;
        }

        .instance, .uploading-instance {
            $width: 238px;

            margin: 0 10px 10px 0;
            padding: 10px;
            border-style: solid;
            border-radius: 5px;
            overflow: hidden;
            width: $width;


            .image-container {
                position: relative;
                overflow: hidden;

                img {
                    float: left;
                    width: $width;

                    &.not-loaded {
                        background-image: url(@IcseMembersBundle/images/loading.gif);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                .overlay-container {
                    position: absolute;
                    top: 0; bottom: 0;
                    left: 0; right: 0;

                    .progress-bar {
                        height: 30px;
                        position: absolute;
                        left: 10%;
                        right: 10%;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }
        }
    }

    .table-container {
        overflow: auto;
    }

    table.entity_instance_table {

        &, td, th {
            padding: 0 10px;
            text-align: center;
            vertical-align: middle;
        }

        thead tr {
            background-color: #B18138;
            th {
                color: #fff;
                font-weight: bold;
            }
        }

        .instance {
            border-bottom-style: solid;

            &.past_date {
                color: #858585;
            }

            &.future_date {
                color: #00a;
            }

            &.just_updated {
                background-color: #C3FF42;
            }

            td {
                background-color: inherit;
            }
        }
    }
}

#calendar_div {
    margin-bottom: 2em;
}

#add_to_cal_button, #add_google_cal_button {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 1em;
}

.cke_editable.cke_editable_inline {
    &.cke_focus {
        box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
        outline: none;
        background: #fff;
        cursor: text;
    }
}

#email_options_pane {
    background-color: #F6F1E6;
    padding: 0.8em 1em;
    margin-top: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    .row_label {
        font-weight: bold;
        width: 110px;
        display: inline-block;
        float: left;
        &:after {
            content: ':'
        }
    }

    input[type="radio"] {
        margin: 0.5em 0 0 0.4em;

        &:disabled + label {
            color: #aaa;
        }
    }

    .row_body {
        display: block;
        margin-left: 110px;

        label {
            padding-left: 5px;

            & + input[type="radio"] {
                margin-left: 15px;
            }
        }
    }

    ul.tagit {
        padding: 0px 1px;
        margin: 0;
        margin-top: -0.1em;
        display: inline-block;
        vertical-align: top;

        li.tagit-choice-editable, {
            padding: 0 18px 0 .5em;
            margin: 1px 1px 1px 0;
        }
        li.tagit-new {
            padding: 0 .5px 0 .5em;
            margin: 2px 1px 1px 0;

            input {
                width: 100px;
            }
        }

        &.disabled, &.disabled input {
            background-color: #eee;
            color: #666;
            background-image: none;

            .tagit-close {
                display: none;
            }

            li.tagit-choice-editable {
                background-color: #ddd;
                color: #666;
                background-image: none;
            }
        }
    }
}

#practice_parts_page,
#past_newsletters_page,
div.symfony-console-command {
    h2 {
        overflow: hidden;
        margin-bottom: 0.7em;
        position: relative;

        .title {
            font-size: 1.2em;
            padding-top: 0.5em;
            float: left;
        }
        .starts_at, .info {
            font-size: 0.7em;
            color: #928777;
            float: right;
            position: absolute;
            bottom: -0.1em;
            right: 0;
        }
    }
}

#icse_email.embedded {
    margin-top: 1em;
}

#preview_dialog .loading_spinner {
    display: block;
    margin: 3em auto;
}

span.membership_date {
    &.good {
        color: #1caa00;
    }

    &.bad {
        color: #f40200;
    }
}

.fileinput-button-wrapper {
    position: relative;
    overflow: hidden;

    input {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        width: 100%;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;

        &::-webkit-file-upload-button {
            display: none;
        }
    }
}

.drop_mask {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 99;
    border: dashed #0088CC 5px;
    display: none;
}

.dragndrop_instruction {
    color: #777777;
}

.draginside {
    & > .drop_mask {
        display: block;
    }
    .dragndrop_instruction {
        color: #0088CC;
    }
}

form.standard {
    div.end_time_widget {
        input.duration {
            width: 40px;
            text-align: right;
            margin-right: 5px;
        }

        .unit, .arrow {
            margin-right: 11px;
        }

        .indicator_area {
            font-weight: bold;
        }
    }
}

#edit_dialog {
    overflow-x: hidden;

    .ui-button {
        margin: 0;
        float: left;
    }

    ul.sortable-list {
        .a-button, a {
            &:link, &:visited {
                color: #000;
            }

            &:hover {
                color: #996633;
                cursor: pointer;
            }

            &.delete {
                &:hover {
                    color: #f00;
                }
            }
        }
    }

    #edit_form.event {

        div.performance_adder {
            float: left;
        }

        ul#performances {
            overflow: hidden;

            li {
                min-height: 1.5em;
                margin-left: 20px;
                padding-left: 0;
                padding-bottom: 0.2em;
                list-style: disc outside;

                &:hover {
                    cursor: grab;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
                }

                &.ui-sortable-helper {
                    cursor: grabbing;
                    cursor: -moz-grabbing;
                    cursor: -webkit-grabbing;
                }

                &.drag-placeholder {
                    list-style: none;
                }

                &.hidden {
                    height: 0;
                    min-height: 0;
                    padding: 0;
                    margin: 0;
                    opacity: 0;

                    @include transition(all 0.2s ease-in);
                }

                .a-button.delete {
                    margin-left: 10px;
                }

                .a-button.delete, &.ui-sortable-helper:hover .a-button.delete {
                    display: none;
                }

                &:hover .a-button.delete {
                    display: inline-block;
                }
            }

        }
    }

    #practice_parts_section {
        margin-bottom: 0.7em;
        overflow: hidden;

        .drop_mask {
            top: auto; bottom: auto;
        }

        .dragndrop_instruction {
            margin-left: 0.5em;
            margin-top: 0.2em;
            float: left;
        }
    }

    h2 {
        $h2_colour: #643906;

        font-size: 1.2em;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
        margin-bottom: 0.5em;
        font-family: Arial;
        border-bottom: 2px solid $h2_colour;
        color: $h2_colour;
    }

    ul#practice_parts {
        margin-bottom: 0.3em;

        li {
            $input_text_height: 1.2em;
            $input_vert_padding: 0.1em;
            $input_vert_border: 0.1em;
            $li_height: $input_text_height + 2*($input_vert_padding + $input_vert_border);

            background-color: #f0e48a;
            border: solid #bda953 1px;
            height: $li_height;
            padding: 0.5em;
            margin-bottom: 0.2em;
            overflow: hidden;

            &.hidden {
                height: 0;
                padding: 0;
                margin: 0;
                border-width: 0;
                opacity: 0;

                @include transition(all 0.2s ease-in);
            }


            input {
                height: $input_text_height;
                margin: 0 0.3em;
                padding: $input_vert_padding 0.3em;
                border-width: $input_vert_border;
                float: left;
            }

            .ui-progressbar {
                height: $li_height;
                position: relative;
                clear: none;
                margin-left: 1.8em;

                .name {
                    position: absolute;
                    left: 0.7em;
                }
            }

            .error {
                clear: none;
            }

            .a-button.delete {
                float: right;
            }

            &.drag-placeholder {
                background-color: transparent;
                border-style: dashed;
            }

            i {
                $margin: 0.2em;

                display: inline-block;
                float: left;
                font-size: $li_height - 2*$margin;
                margin: $margin;

                &.handle {
                    cursor: grab;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
                }
            }

        }
    }
}

#delete_dialog {
    .ui-icon-alert {
        margin-top: 0.3em;
        margin-right: 7px;
        float: left;
    }

    p {
        margin-bottom: 0.6em;
    }
}

.cke_button_icon.cke_button__headingbutton_icon {
    display: none;
}

.cke_button_label.cke_button__headingbutton_label {
    display: inline;
    padding: 0;
}

.cke_button_disabled .cke_button_label {
    opacity: .3;
}

div.symfony-console-command {

    margin-bottom: 1em;

    .button-container {
        overflow: hidden;
    }

    button {
        float: left;
    }

    .loading_spinner {
        float: left;
        margin-left: 5px;
        margin-top: 3px;
    }

    pre.output {
        line-height: 1.2em;
        font-family: monospace;
        white-space: pre-wrap;
        overflow-x: hidden;
        clear: left;
        margin-top: 1em;
        background-color: #000;
        padding: 0.5em;

        &:empty {
            padding: 0;
        }
    }
}

