@import "compass/css3/transform"; 
@import "compass/css3/transition"; 
$nav_col_width: 240px;
$hidden_nav_col_width: 34px;
$nav_col_edge_width: 2px;
$nav_col_side_padding: 8px;
$sidebar_animation_time: 0.2s;
$sidebar_button_flip_animation_time: 1s;
$nav_col_colour: #d4b896;

#above_footer {
  background: url(@IcseMembersBundle/images/bg.png) #fff repeat-y left;
  @include transition(background $sidebar_animation_time); 
}

#above_footer.nav_col_hidden {
  background-position: -206px 0;
  background-image: url(@IcseMembersBundle/images/bg_hidden_nav.png);
}

#above_footer.full_width {
  background: #fff;
} 

#nav_column {
  float: left;
  position:relative;
  width: 0px;
  left: 0;
  @include transition(left $sidebar_animation_time);
  height: auto !important;
}

.nav_col_hidden #nav_column {
  left: $hidden_nav_col_width - $nav_col_width;
}

#nav_column li {
  display: block;
  float: left;
  clear: left;
}

#nav_col_head, #nav_column li.category {
  width: $nav_col_width - 2 * $nav_col_side_padding;
  padding: 0.5em $nav_col_side_padding;
  color: #fff;
  background: #000;
}

#nav_column li a {

  &:link, &:visited {
    display: block;
    width: $nav_col_width - 2 * $nav_col_side_padding - $nav_col_edge_width;
    padding: 0.5em $nav_col_side_padding;
    text-decoration: none;
    color: #000;
    background-color: $nav_col_colour; 

    &.current {
      background-color: lighten($nav_col_colour, 10%);
    }
  }

  &:hover {
      background-color: darken($nav_col_colour, 10%); 
    &.current {
      background-color: lighten($nav_col_colour, 20%);
    }
  }

}

#section_container {
  margin-left: $nav_col_width;
  overflow: hidden; 
  @include transition(margin-left $sidebar_animation_time);  
}

.nav_col_hidden #section_container {
  margin-left: $hidden_nav_col_width;
}

#hide_nav_col_button {
  float: right;
  @include transition(transform $sidebar_button_flip_animation_time); 
}

#hide_nav_col_button:hover {
  cursor: pointer;
} 

section {
  clear: none;
  width: auto;
}

form label {
  width: 300px;
}

form input[type=submit] {
  margin-left: 320px;
}

form p.error {
  color: #f00;
  margin-left: 320px;
}

p.success {
  color: #090;
}

#hidden_nav_col_cover {
  visibility: hidden;
  opacity: 0;
  width: $nav_col_width;
  height:100%;
  position: absolute;
  left: 0;
  z-index: 0;
  background-color: #000;
  @include transition(visibility 0s linear $sidebar_animation_time, opacity $sidebar_animation_time); 
}

.nav_col_hidden #hidden_nav_col_cover {
  visibility: visible;
  opacity: 1;
  @include transition-delay(0s); 
} 


#hidden_nav_col_cover div {
  color: #fff;
  position:absolute;
  top: 2em;
  right: 0.5em;
  width: 0px;
  @include rotate(90deg);
  @include apply-origin(top left, false);
} 

.loading_spinner {
  vertical-align: middle;
}

ul.table_buttons {
  height: 2.5em;
  margin-bottom: 0;
  li {
    display: block;
    float: left;
  }
  .loading_spinner {
    margin: 0.45em 0.45em;
  } 
}

.ui-dialog #edit_dialog.ui-dialog-content {
  padding-bottom: 0;
}
