{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'about' %}

{% block content %}
  <h1>About ICSE</h1>

  <h2>The Ensemble</h2>
  
  <p>Imperial College String Ensemble is dedicated to the perfomance of
  challenging and diverse music for strings. We have established a reputation
  for quality, and since the ensemble's creation in 2004, have become a leading
  voice in music-making at Imperial. ICSE is a small ensemble, comprising
  approximately 30 players. Our size allows us to perform unique repertoire and
  creates strong sociality within the group.</p>

  <p>ICSE is now entering its sixth riotously successful year as an ensemble.
  We perform concerts every term in the local area, as well as taking part in
  events ranging from ArtsFest to performances in aid of charity. Last year, we
  continued to broaden our repertoire with string classics by Elgar,
  Mendelssohn and Stravinsky, as well as performing concertos featuring
  musicians from within Imperial.</p>


  <p>Our reputation for wild partying will always make weekends worth looking
  forward to, with anything from pubs and pizza to film nights and barn
  dancing!  Our more adventurous socials this year have included ice skating
  and paintballing. Plans for 2010/11 involve student concertos, a weekend away
  and a summer tour on the continent.</p>


  <p>As the College's only ensemble just for string players we offer a very
  different experience to the symphony orchestras. Rehearsals are relaxed and
  friendly with light refreshments, and finish early in the evening, leaving
  the rest of the night yours to enjoy. If you're interested in making yourself
  heard as a string player, why don't you join us? We rehearse Friday evenings,
  in the Great Hall, from 6.15pm.</p>
  
{% endblock %}
