{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'home' %}

{% block content %}
  <h1>Welcome to ICSE!</h1>
  
  <p>Imperial College String Ensemble is Imperial's only society dedicated to
  playing the incredible repertoire written just for strings. Rehearsals are
  fun and friendly, and take place every Friday in the Sherfield Building.
  </p>
  
{% endblock %}
