<html>
<head>
<title>
  Imperial College String Ensemble{% block page_title %}{% endblock %}
</title>
<link rel="icon" href="{{ asset('favicon.ico' }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 
</head>
<body>
  Hello !
</body>
</html>
